.new-task-card {
  display: flex;
  color: var(--color-outline);
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 280px;
  height: 50px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-surface-container);
  }
}
