.new-task-text {
  color: var(--color-outline);
}

.new-task-card {
  width: 280px;
  height: 50px;
  background-color: var(--color-surface);
  border: 2px dashed var(--color-outline);
  cursor: pointer;
}
