.top-nav {
  background-color: var(--color-surface-container-lowest);
  height: 4rem;
}

.home-title {
  font-size: var(--h2-size);
  font-weight: var(--h1-weight);
  color: var(--color-primary-container);
  line-height: var(--h2-line-height);
  cursor: pointer;
  margin-bottom: 0;
}

.nav-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.action-button {
  background-color: transparent;
  border: none;
  width: 50px;
  border-radius: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

.navigation-title {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  color: var(--color-secondary);
  margin-bottom: 0;
}

.navigation-title:hover {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  color: var(--color-primary-container);
  cursor: pointer;
}

.user-icon {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-secondary);
}

.action-icon {
  color: var(--color-secondary);
}

.action-icon:hover {
  color: var(--color-primary);
}
